{% extends "base.html" %}

{% block footer %}
  <footer class="md-footer">
    <div class="md-footer-meta md-typeset" style="padding:1rem; text-align:center;">
      <!-- Custom footer -->
      <p>© 2026 Anubhav Pandey — Documentation Architect</p>
      <p><a href="https://github.com/ADocLab" target="_blank">GitHub</a> |
         <a href="https://linkedin.com/in/anubhav-pandey" target="_blank">LinkedIn</a>
      </p>
    </div>
  </footer>
{% endblock %}

{% block footer_nav %}{% endblock %} 
{% block footer_logo %}{% endblock %}
{% block footer_social %}{% endblock %}
{% block footer_copyright %}{% endblock %}